body{
  padding: 0px;
  font-family: sans-serif;
  background: url(media/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
  overflow-x: hidden;
  margin: 0;
}

.orange{
  background-color: #fff;
  position: absolute;
  width: 45%;
  height: 45%;
  left: -5%;
  top: 13%;
  margin: 20px;
}

.intheorange{
  background-color: #000;
  position: absolute;
  width: 99.5%;
  height: 95%;
  top: 1%;
}

.holdroldlabspicture{
  z-index: 2000;
  position: absolute;
  left: 11%;
  top: 8%;
}

/* nav */

.container {
  position: absolute;
  margin: 20px;
  width: auto;
  right: 1%;
  bottom: 1%;
}

.topnav {
  overflow: hidden;
  border: 1px solid white;
  background-color: #000;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
